@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@300&family=Vidaloka&display=swap');

* {
    padding: 0%;
    margin: 0;
    border: none;
}

body{
    font-family: Abel, sans-serif;
    font-weight: 300;
    color: #242424;
}



h1 {
    font-family: Vidaloka, serif;
    color: #444d40;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #444d40;
}

#logo{
    float: left;
    font-size: 300%;
    letter-spacing: 2px;
    margin: 2%;
}

#vessel-logo{
    float: left;
}

