@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@300&family=Vidaloka&display=swap');

* {
    padding: 0%;
    margin: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
    font-weight: 300;
    color: #858f81;
}

/*Title/logo, vessel-logo and headings*/

h1 {
    font-family: Vidaloka, serif;
    color: #64705f;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #64705f;
}

#logo {
    float: left;
    font-size: 300%;
    letter-spacing: 2px;
}

#vessel-logo {
    float: left;
}

/* Navigation links */

#nav-menu,
#logo,
#vessel-logo {
    line-height: 75px;
}

#nav-menu {
    font-size: 150%;
    letter-spacing: 4px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: #64705f;
    border-bottom: 2px solid #64705f;
}

.active{
    background-color: #7e997365;
    padding: 0 5px;
    color: #858f81;
}