@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@300&family=Vidaloka&display=swap');

* {
    padding: 0%;
    margin: 0;
    border: none;
}



header h1 {
    margin-left: 10px;
    font-family: Vidaloka, serif;
    font-weight: 300;
    font-size: 5.5rem;
}

header ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

section {
    font-family: Abel, sans-serif;
}

#vessel-logo {
    max-width: 50px;
}